.jumbotron.center
	%h1 Welcome to the Social Network

	%p
		This is the home page for the 
		= link_to 'Social Network', root_path

	= link_to 'Sign Up now!', '#', class: 'btn btn-lg btn-primary'

= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'